# Cloudflare
CLOUDFLARE_TUNNEL_TOKEN=
# LLDAP
LLDAP_DATABASE_URL=
LLDAP_JWT_SECRET=
LLDAP_KEY_SEED=
LLDAP_LDAP_BASE_DN=
LLDAP_LDAP_USER_PASS=
# Tinyauth
TINYAUTH_DOMAIN=
TINYAUTH_LDAP_OBSERVER_ID=
TINYAUTH_LDAP_OBSERVER_PASSWORD=
TINYAUTH_OIDC_CLIENTS_CLOUDFLARE-ZERO-TRUST_CLIENTID=
TINYAUTH_OIDC_CLIENTS_CLOUDFLARE-ZERO-TRUST_CLIENTSECRET=
TINYAUTH_OIDC_CLIENTS_CLOUDFLARE-ZERO-TRUST_NAME=
TINYAUTH_OIDC_CLIENTS_CLOUDFLARE-ZERO-TRUST_TRUSTEDREDIRECTURIS=
TINYAUTH_OIDC_CLIENTS_TAILSCALE_CLIENTID=
TINYAUTH_OIDC_CLIENTS_TAILSCALE_CLIENTSECRET=
TINYAUTH_OIDC_CLIENTS_TAILSCALE_NAME=
TINYAUTH_OIDC_CLIENTS_TAILSCALE_TRUSTEDREDIRECTURIS=